.box {
    color: black;
    height: 1000px;
    width: 800px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;
}

.box:hover{
    background-color: wheat;
    color: white;
}

box1 { grid-area: b1; }
box2 { grid-area: b2; }
box3 { grid-area: b3; }
box4 { grid-area: b4; }

.button{
    background-color: white;
    color: red;
    font-weight: bold;
    height: 45px;
    width: 100px;
}

.button:hover{
    background-color: wheat;
    color: white;
}

grid-container {
    display: grid;
    grid-template-areas: 
        "b1 b2"
        "b3 b4"
    ;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 400px, 400px;
    align-items: center;
}

grid-item {
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 1px;
}

h3 {
    font-weight: normal;
}

.horizontal {
    gap: 45px;
    display: flex;
    flex-direction: row;
}

input {
    height: 45px;
    width: 400px;
}

.search{
    height: 30px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

textarea {
    height: 200px;
    width: 400px;
}

.vertical{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
}